In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/quora-question-pairs/sample_submission.csv
/kaggle/input/quora-question-pairs/train.csv
/kaggle/input/quora-question-pairs/test.csv

In [2]:
df = pd.read_csv('/kaggle/input/quora-question-pairs/train.csv')

In [3]:
df[df.is_duplicate == 1].head()

,id,qid1,qid2,question1,question2,is_duplicate
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1

In [4]:
df[df.is_duplicate == 1].head()

,id,qid1,qid2,question1,question2,is_duplicate
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1
12,12,25,26,What can make Physics easy to learn?,How can you make physics easy to learn?,1
13,13,27,28,What was your first sexual experience like?,What was your first sexual experience?,1

In [5]:
print(df.question1[1])
df.question2[1]

What is the story of Kohinoor (Koh-i-Noor) Diamond?

'What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?'

In [6]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize

In [7]:
X ="What is the story of Kohinoor (Koh-i-Noor) Diamond?"
Y ="What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?"

X ="What can make Physics easy to learn?"
Y ="How can you make physics easy to learn physics physics?	"

In [8]:
# tokenization 
X_list = word_tokenize(X)  
Y_list = word_tokenize(Y) 
  
# sw contains the list of stopwords 
sw = stopwords.words('english')  
l1 =[];l2 =[] 
# remove stop words from string 
X_set = {w for w in X_list if not w in sw}  
Y_set = {w for w in Y_list if not w in sw}

In [9]:
X_set
Y_set

{'?', 'How', 'easy', 'learn', 'make', 'physics'}

In [10]:
# form a set containing keywords of both strings  
rvector = X_set.union(Y_set)  
for w in rvector: 
    if w in X_set: l1.append(1) # create a vector 
    else: l1.append(0) 
    if w in Y_set: l2.append(1) 
    else: l2.append(0) 
c = 0

In [11]:
print(l1, l2)
rvector

[1, 1, 1, 0, 0, 1, 1, 1] [1, 1, 1, 1, 1, 1, 0, 0]

{'?', 'How', 'Physics', 'What', 'easy', 'learn', 'make', 'physics'}

In [12]:
# cosine formula  
for i in range(len(rvector)): 
        c+= l1[i]*l2[i] 
cosine = c / float((sum(l1)*sum(l2))**0.5) 
print("similarity: ", cosine) 

'''Cosine similarity is a measure of similarity between two non-zero vectors of an inner 
product space that measures the cosine of the angle between them.
Similarity = (A.B) / (||A||.||B||) where A and B are vectors.'''

similarity:  0.6666666666666666

'Cosine similarity is a measure of similarity between two non-zero vectors of an inner \nproduct space that measures the cosine of the angle between them.\nSimilarity = (A.B) / (||A||.||B||) where A and B are vectors.'

In [13]:
#https://www.geeksforgeeks.org/python-measure-similarity-between-two-sentences-using-cosine-similarity/